.page {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #171717;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}