.portfolio__button {
  font-family: 'jet';
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
  background-color: #3BB6E8;
  background-repeat: no-repeat;
  border: none;
  border-radius: 25px;
  width: 270px;
  height: 50px;
  margin: auto;
  transition: all 0.1s linear;
  cursor: pointer;
}

.portfolio__button:hover {
  color: #000;
  filter: drop-shadow(0 0 0.1rem #a6a3a3); 
}