@import url("./_span/warning__starlight_span.css");

.warning__starlight {
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 700;
  max-width: 698px;
  min-height: 140px;
  text-transform: uppercase;
  margin: 68px 0 54px;
}