@import url("__logo/header__logo.css");
@import url("__text/header__text.css");

.header {
  padding: 30px 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(100vw - 168px);
  border-bottom: 1px solid #999;
  display: flex;
}

@media screen and (max-width:909px) {
  .header {
    max-width: calc(100vw - 108px);
  }
}

/* @media screen and (max-width:796px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
} */